@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-rgb: rgb(170, 225, 252);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: rgb(12 74 110);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

a {
  color: rgb(37 99 235);
}

a:hover {
  color: rgb(30 64 175);
}

@media (prefers-color-scheme: dark) {
  a {
    color: rgb(147 197 253);
  }
  
  a:hover {
    color: rgb(59 130 246);
  }
}
